body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.comp-container{
  position: relative;
}

.comp-container .title{
  position: absolute;
  top: 0;
  left: 0;
}
.comp-container + button{
  margin-top: 100px;
}
.test-appear,.test-exit-active,.test-enter{
  display: block;
  opacity: 0;
  transform: translateX(100px);
}
.test-exit-done{
  opacity: 0;
}
.test-appear-active,.test-enter-active{
  opacity: 1;
  transition: 10000ms;
  transform: translateX(0);
}

.alert-enter{
  opacity: 0;
  transform: scale(.9);
}
.alert-enter-active{
  opacity: 1;
  transform:translateX(0);
  transition:opacity 300ms,transform 300ms;
}

.alert-exit-active{
  opacity: 0;
  transform: scale(.9);
  transition: opacity 300ms,transform 300ms;
}


/* 从test-enter 到 test-enter-active的过程中 浏览器会直接将opactity 从 0 改成1 没有过渡效果 平滑的将opactiye 从 0 变成1 */
/* 过渡效果需要定义在最终状态的类，这样当状态改变时 才会有过渡效果 */